.dot::slotted {
	height: 60px;
	width: 60px;
	background-color: cornflowerblue;
	font-family: clan !important;
	font-size: 22px !important;
	align-items: center !important;
	display: flex !important;
	justify-content: center !important;
	border-radius: 50%;
	color: white !important;
}

.textInBlue::slotted {
	align-items: center !important;
	display: flex !important;
	height: 50px !important;
	font-family: clan !important;
	font-size: 27px !important;
	justify-content: center !important;
	width: 300px !important;
	background-color: cornflowerblue !important;
	color: white !important;
	border-radius: 20px !important;
}

.textInGreen::slotted {
	align-items: center !important;
	display: flex !important;
	height: 50px !important;
	font-family: clan !important;
	font-size: 27px !important;
	justify-content: center !important;
	width: 300px !important;
	background-color: darkolivegreen !important;
	color: white !important;
	border-radius: 20px !important;
}

.textInRed::slotted {
	align-items: center !important;
	display: flex !important;
	height: 50px !important;
	font-family: clan !important;
	font-size: 27px !important;
	justify-content: center !important;
	width: 300px !important;
	background-color: orangered !important;
	color: white !important;
	border-radius: 20px !important;
}

.textInYellow::slotted {
	align-items: center !important;
	display: flex !important;
	height: 50px !important;
	font-family: clan !important;
	font-size: 27px !important;
	justify-content: center !important;
	width: 300px !important;
	background-color: gold !important;
	color: black !important;
	border-radius: 20px !important;
}

.textInBlack::slotted {
	align-items: center !important;
	display: flex !important;
	height: 50px !important;
	font-family: clan !important;
	font-size: 27px !important;
	justify-content: center !important;
	width: 300px !important;
	background-color: black !important;
	color: white !important;
	border-radius: 20px !important;
}

.tituloOfText::slotted {
	font-family: clan !important;
	font-size: 27px !important;
	font-weight: lighter;
	text-align: center;
}